<div class="container-fluid py-3">
  <div class="d-flex justify-content-between small text-muted">
    <p class="m-0"> &copy; 2019 TrustReview </p>
    <p class="text-right m-0"> <%= link_to 'Términos y condiciones', '#', target: '_blank' %> </p>
    </div>
  </div>
</div>
